@charset "UTF-8";

body
{
background-color:white;
}

#arriba{
 background-color:#dae2e5;
}

#imagenheader{
  width: 1349px; 
  height: 200px;
}

.titulos{
 margin:20px;
 text-align:center;
 font-family:arial;
}

.imagenes{
  display: block;
  margin: 1px auto;
  width: 600px; 
  height: 400px;
}

.texto{
  text-align: justify;
  text-align-last: center;
  font-family:arial;
}