@charset "UTF-8";

body
{
background-color: #e1e8ea;
}

#arriba{
 background-color:#dae2e5;
}

#imagenheader{
  width: 1349px; 
  height: 200px;
}

#article1
{
background-color: rgb(165,182,188);
 margin-right: 60px;
 margin-left: 60px;
 padding: 30px;
}

#article2
{
background-color: rgb(165,182,188);
 margin-right: 60px;
 margin-left: 60px;
 padding: 30px;
}

#article3
{
background-color: rgb(165,182,188);
 margin-right: 60px;
 margin-left: 60px;
 padding: 30px;
}
.titulos{
 margin:20px;
 text-align:center;
 font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
}

.imagenes{
  display: block;
  margin: 1px auto;
  width: 600px; 
  height: 400px;
}

.texto{
  text-align: justify;
  text-align-last: center;
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";;
}