@charset "UTF-8";


#imagenheader{
  display: block;
  margin: 1px auto;
  width: 300px; 
  height: 45px;
}

.titulos{
 margin:20px;
 text-align:center;
 font-family:arial;
}

.imagenes{
  display: block;
  margin: 1px auto;
  width: 600px; 
  height: 400px;
}